body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
}

nav {
    background: #333;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    width: 800px;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 6px;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button.vermelho {
    background: red;
}

ul.lista li {
    margin-bottom: 10px;
}

.erro {
    color: red;
}
